<p>Listado Heroes</p>

<div *ngIf="deleteHeroe; else nothingWasDeleted">
  <h3> Heroe borrado <small class="text-danger">{{deleteHeroe}}</small></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
*ngIf="heroNames.length > 0"
(click)="removeLastHeroe()" class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item"> {{name}} </li>
</ul>
<button
(click)="resetListHeroe()" class="btn btn-secondary mt-2">
  Resetear lista
</button>
